get /target/
!.mvn/wrapper/maven-wrapper.jar
*!.mvn/wrapper/maven-wrapper.jar
*target

*Smart-mobileApp-0b3b4f826861.json
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/